Repository massimovenuti/simple-dns: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-client, build-serveur, test-client, test-serveur

build-client:
  stage: build
  before_script:
  - apt update && apt -y install make
  script:
  - make client-build
  artifacts:
    paths:
    - ./client/obj
    - ./client/bin

build-serveur:
  stage: build
  before_script:
  - apt update && apt -y install make
  script:
  - make serveur-build
  artifacts:
    paths:
    - ./serveur/obj
    - ./serveur/bin

test-client:
  stage: test
  script:
  - cd client
  - ./test/check.sh
  needs:
  - build-client

test-serveur:
  stage: test
  before_script:
  - apt update && apt -y install netcat valgrind
  script:
  - cd serveur
  - ./test/testSimple.sh
  needs:
  - build-serveur

rename && update test
  serveur/test/testFedora.sh
  serveur/test/testUbuntu.sh
Due: build-serveur, test-serveur

Add time management
  .gitignore
  client/Makefile
  client/include/addr.h
  client/include/main.h
  client/include/time.h
  client/src/addr.c
  client/src/main.c
  client/src/time.c
Due: build-client, test-client

Little fix
  client/include/main.h
  client/include/time.h
  client/src/main.c
  client/src/parser.c
Due: build-client, test-client

Little fix addr_cmp + modifying display
  client/include/addr.h
  client/include/main.h
  client/src/addr.c
  client/src/main.c
Due: build-client, test-client

Fix
  client/include/addr.h
  client/src/addr.c
  client/src/main.c
Due: build-client, test-client

Little change pointer to lreq
  client/src/main.c
Due: build-client, test-client

fix timeout && change name test
  client/include/main.h
  client/samples/bad.conf
  client/src/main.c
  client/test/check.sh
  client/test/testSimple.sh
  serveur/samples/en.conf
  serveur/samples/fr.conf
  serveur/samples/root.conf
  serveur/samples/test/bad.conf
  serveur/samples/test/charge.conf
  serveur/samples/test/test1.conf
  serveur/samples/test2.conf
  serveur/samples/toto.conf
  serveur/test/check.sh
  serveur/test/testFedora.sh
  serveur/test/testUbuntu.sh
Due: build-client, build-serveur, test-client, test-serveur

color for timeout
  client/src/main.c
Due: build-client, test-client

starting simplification client - not functionnal at all
  client/include/macro.h
  client/include/main.h
  client/src/addr.c
  client/src/main.c
Due: build-client, test-client

Continuing client simplification - fonctionnal
  client/include/main.h
  client/include/req.h
  client/src/addr.c
  client/src/main.c
  client/src/parser.c
Due: build-client, test-client

start ack et probleme memoir
  serveur/Makefile
  serveur/include/ack.h
  serveur/include/main.h
  serveur/include/parser.h
  serveur/src/ack.c
  serveur/src/main.c
  serveur/src/parser.c
  serveur/test/testFedora.sh
  serveur/test/testUbuntu.sh
Due: build-serveur, test-serveur

ack for serveur
  serveur/include/ack.h
  serveur/include/main.h
  serveur/src/ack.c
  serveur/src/main.c
  serveur/test/testFedora.sh
Due: build-serveur, test-serveur

fix ack serveur
  client/src/main.c
  client/src/parser.c
  serveur/src/main.c
  serveur/test/testFedora.sh
  serveur/test/testUbuntu.sh
Due: build-client, build-serveur, test-client, test-serveur

test py
  test/launchServeur.py
Due: none

fix core dump
  serveur/src/main.c
Due: build-serveur, test-serveur

fix mes not end by 0
  serveur/src/parser.c
Due: build-serveur, test-serveur

Continuing client cleaning
  client/include/addr.h
  client/include/main.h
  client/src/addr.c
  client/src/main.c
Due: build-client, test-client

Little fix merge
  client/src/main.c
Due: build-client, test-client

fix serveur test
  serveur/test/testFedora.sh
  serveur/test/testUbuntu.sh
Due: build-serveur, test-serveur

Client cleaning renames
  client/include/addr.h
  client/include/req.h
  client/include/time.h
  client/src/addr.c
  client/src/main.c
  client/src/parser.c
  client/src/req.c
  client/src/time.c
  serveur/src/parser.c
Due: build-client, build-serveur, test-client, test-serveur

fix ubuntu test
  serveur/test/testUbuntu.sh
Due: build-serveur, test-serveur

test plus grand start
  client/samples/req.txt
  client/samples/test/req.txt
  serveur/samples/fr.conf
  test/launchServeur.py
  test/test.sh
Due: build-client, build-serveur, test-client, test-serveur

finishing client clean + fix timeout + fix round robin + fix error msg
  client/include/lreq.h
  client/include/lserv.h
  client/include/main.h
  client/include/parser.h
  client/include/time.h
  client/src/addr.c
  client/src/lreq.c
  client/src/lserv.c
  client/src/main.c
  client/src/parser.c
  client/src/time.c
Due: build-client, test-client

test serveur end test global end fix time out serveur
  client/src/main.c
  serveur/src/main.c
  serveur/test/testFedora.sh
  serveur/test/testUbuntu.sh
  test/launchServeur.py
  test/test.sh
Due: build-client, build-serveur, test-client, test-serveur

fix test ubuntu
  serveur/test/testUbuntu.sh
Due: build-serveur, test-serveur

add test in makefile
  Makefile
  client/Makefile
  client/test/testSimple.sh
  serveur/Makefile
Due: build-client, build-serveur, test-client, test-serveur

Little fix + safe scanf + finishing client
  client/include/lreq.h
  client/include/lserv.h
  client/include/macro.h
  client/include/main.h
  client/include/parser.h
  client/samples/req.txt
  client/src/lreq.c
  client/src/lserv.c
  client/src/main.c
  client/src/parser.c
Due: build-client, test-client

edit make
  Makefile
  client/Makefile
  serveur/Makefile
Due: build-client, build-serveur, test-client, test-serveur

Finish clean server
  client/.vscode/launch.json
  client/.vscode/settings.json
  serveur/include/parser.h
  serveur/src/parser.c
  serveur/tmp/res.txt
Due: build-client, build-serveur, test-client, test-serveur

edit makefile
  Makefile
  client/Makefile
  serveur/Makefile
Due: build-client, build-serveur, test-client, test-serveur

Doc server parser
  serveur/include/parser.h
  serveur/src/parser.c
Due: build-serveur, test-serveur

fix test
  client/test/testSimple.sh
  serveur/test/testUbuntu.sh
Due: build-client, build-serveur, test-client, test-serveur

add lm
  client/Makefile
Due: build-client, test-client

Finish doc server
  serveur/include/ack.h
  serveur/include/macro.h
  serveur/include/main.h
  serveur/include/parser.h
  serveur/src/ack.c
  serveur/src/main.c
  serveur/src/parser.c
Due: build-serveur, test-serveur

Finish doc
  client/include/addr.h
  client/include/lreq.h
  client/include/lserv.h
  client/include/macro.h
  client/include/main.h
  client/include/mytime.h
  client/include/parser.h
  client/src/lreq.c
  client/src/lserv.c
  client/src/main.c
  client/src/mytime.c
  client/src/parser.c
  serveur/include/lack.h
  serveur/include/macro.h
  serveur/include/main.h
  serveur/include/parser.h
  serveur/src/lack.c
  serveur/src/main.c
  serveur/src/parser.c
Due: build-client, build-serveur, test-client, test-serveur

change coment
  test/test.sh
Due: none

Correct test fr
  client/test/testSimple.sh
  serveur/test/testFedora.sh
  serveur/test/testUbuntu.sh
  test/test.sh
Due: build-client, build-serveur, test-client, test-serveur

add doc
  documentation_utilisateur.md
Due: none

fix serveur make && add client test
  Makefile
  client/samples/test/comande.txt
  client/samples/test2.conf
  client/test/testSimple.sh
Due: build-client, test-client

indent
  client/include/lreq.h
  client/include/lserv.h
  client/include/macro.h
  client/include/main.h
  client/include/mytime.h
  client/include/parser.h
  client/src/lreq.c
  client/src/lserv.c
  client/src/main.c
  client/src/mytime.c
  client/src/parser.c
  serveur/include/lack.h
  serveur/include/macro.h
  serveur/include/main.h
  serveur/include/parser.h
  serveur/src/lack.c
  serveur/src/main.c
  serveur/src/parser.c
Due: build-client, build-serveur, test-client, test-serveur

Path conditions:
  build-client: any of: client/**/*
  build-serveur: any of: serveur/**/*
  test-client: any of: client/**/*
  test-serveur: any of: serveur/**/*
