Repository massimovenuti/simple-dns: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-client, build-serveur

.gitlab-ci.yml:

stages:
  - build
  - test

image: gcc

build-client:
  stage: build
  before_script:
    - apt update && apt -y install make
  script:
    - make client-build
  artifacts:
    paths:
      - ./client/obj
      - ./client/bin
  only:
    changes:
      - client/**/*

build-serveur:
  stage: build
  before_script:
    - apt update && apt -y install make
  script:
    - make serveur-build
  artifacts:
    paths:
      - ./serveur/obj
      - ./serveur/bin
  only:
    changes:
      - serveur/**/*

test-client:
  stage: test
  needs: ["build-client"]
  script:
    - cd client
    - ./test/check.sh

may be fix CI
  .gitlab-ci.yml
Due: none

test CI
  .gitlab-ci.yml
Due: none

edit test1.conf
  client/samples/test1.conf
Due: build-client

Fix #1 ipV6 OK change struct: type_addr -> addr_xith_flag
  client/include/parser.h
  client/src/main.c
  client/src/parser.c
Due: build-client

format request && ignore addr
  client/include/main.h
  client/src/main.c
Due: build-client

Start serveur dev
  .gitlab-ci.yml
  client/include/main.h
  serveur/include/main.h
  serveur/src/main.c
  serveur/test/check.sh
Due: build-client, build-serveur

thread recvfrom sendto
  serveur/Makefile
  serveur/include/main.h
  serveur/src/main.c
Due: build-serveur

close && bricolage
  serveur/src/main.c
Due: build-serveur

add test
  serveur/test/check.sh
Due: build-serveur

add prototype and coment
  client/include/parser.h
  client/src/main.c
  client/src/parser.c
  serveur/include/main.h
  serveur/include/parser.h
  serveur/src/main.c
Due: build-client, build-serveur

Add macro
  client/include/macro.h
  client/include/main.h
  client/include/parser.h
  client/src/main.c
  client/src/parser.c
  serveur/include/macro.h
  serveur/include/main.h
  serveur/include/parser.h
  serveur/src/main.c
  serveur/src/parser.c
Due: build-client, build-serveur

Implementation parser #7 #8 #9
  serveur/include/parser.h
  serveur/src/parser.c
Due: build-serveur

impleme vite fait
  serveur/include/main.h
  serveur/samples/test1.conf
  serveur/src/main.c
  serveur/src/parser.c
  serveur/test/check.sh
Due: build-serveur

little fix
  serveur/samples/test1.conf
  serveur/src/parser.c
Due: build-serveur

add struct res
  client/include/parser.h
  client/src/parser.c
Due: build-client

fix test
  serveur/test/check.sh
Due: build-serveur

Implémentation parse_res
  client/include/parser.h
  client/src/parser.c
  serveur/include/parser.h
Due: build-client, build-serveur

Little fix parse_res
  client/src/parser.c
Due: build-client

add resolve fix parser and reporte error
  client/include/main.h
  client/samples/test1.conf
  client/src/main.c
  client/src/parser.c
  serveur/samples/test1.conf
  serveur/samples/test2.conf
  serveur/samples/test3.conf
  serveur/src/parser.c
Due: build-client, build-serveur

fix v6
  client/samples/test1.conf
  client/src/main.c
Due: build-client

Fix parser client & server + change to dynamic allocation
  client/include/parser.h
  client/src/parser.c
  serveur/include/parser.h
  serveur/src/parser.c
Due: build-client, build-serveur

Little adjustments last patch
  client/src/parser.c
  serveur/include/parser.h
  serveur/src/parser.c
Due: build-client, build-serveur

Fix compare
  serveur/src/parser.c
Due: build-serveur

simplify client
  client/include/main.h
  client/src/main.c
  serveur/src/parser.c
Due: build-client, build-serveur

symplifiy serveur
  serveur/src/main.c
Due: build-serveur

fix v6 44
  client/include/parser.h
  client/src/main.c
  client/src/parser.c
Due: build-client

Remake server parser (strings) + fix client parser + fix server test
  client/include/main.h
  client/include/parser.h
  client/src/main.c
  client/src/parser.c
  serveur/include/main.h
  serveur/include/parser.h
  serveur/src/main.c
  serveur/src/parser.c
  serveur/test/check.sh
Due: build-client, build-serveur

Fix conflict between latest commits
  client/include/parser.h
  client/src/parser.c
  serveur/src/main.c
Due: build-client, build-serveur

truc
  serveur/src/parser.c
Due: build-serveur

Add free_names
  serveur/include/parser.h
  serveur/src/main.c
  serveur/src/parser.c
Due: build-serveur

mv free
  serveur/src/main.c
  serveur/src/parser.c
Due: build-serveur

Modif memory management make_res
  serveur/include/main.h
  serveur/include/parser.h
  serveur/src/main.c
  serveur/src/parser.c
Due: build-serveur

Server parser: int --> bool
  serveur/include/parser.h
  serveur/src/parser.c
Due: build-serveur

Improve parse_req + fix sscanf
  client/src/parser.c
  serveur/include/parser.h
  serveur/src/parser.c
Due: build-client, build-serveur

fix end parser
  client/src/main.c
  client/src/parser.c
Due: build-client

fix len make_res
  serveur/include/parser.h
  serveur/src/parser.c
Due: build-serveur

oups le main
  serveur/src/main.c
Due: build-serveur

fix name in make_res
  serveur/src/parser.c
Due: build-serveur

fix parser client
  client/src/parser.c
  serveur/samples/test1.conf
  serveur/samples/test2.conf
  serveur/samples/test3.conf
  serveur/src/parser.c
Due: build-client, build-serveur

Fix realloc increase_memsize
  serveur/src/parser.c
Due: build-serveur
