Repository massimovenuti/simple-dns: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-client, build-serveur, test-client, test-serveur

build-client:
  stage: build
  before_script:
  - apt update && apt -y install make
  script:
  - make client-build
  artifacts:
    paths:
    - ./client/obj
    - ./client/bin

build-serveur:
  stage: build
  before_script:
  - apt update && apt -y install make
  script:
  - make serveur-build
  artifacts:
    paths:
    - ./serveur/obj
    - ./serveur/bin

test-client:
  stage: test
  script:
  - cd client
  - ./test/check.sh
  needs:
  - build-client

test-serveur:
  stage: test
  script:
  - cd serveur
  - ./test/check.sh
  needs:
  - build-serveur

Add ignored servers & addr_to_string
  client/include/main.h
  client/include/parser.h
  client/src/main.c
  client/src/parser.c
Due: build-client, test-client

time && read file req
  client/include/parser.h
  client/src/main.c
  client/src/parser.c
  serveur/src/parser.c
Due: build-client, build-serveur, test-client, test-serveur

Little fix last commit
  client/src/main.c
Due: build-client, test-client

ça marche mais pas si on ignore mais tkt
  client/include/main.h
  client/src/main.c
  client/src/parser.c
Due: build-client, test-client

Starting implementation parallelism
  client/include/main.h
  client/include/parser.h
  client/src/main.c
  client/src/parser.c
  serveur/src/main.c
  serveur/src/parser.c
Due: build-client, build-serveur, test-client, test-serveur

Continuing implementation
  client/include/main.h
  client/include/parser.h
  client/src/main.c
  client/src/parser.c
Due: build-client, test-client

ça marche pas mais regarde
  client/include/main.h
  client/include/parser.h
  client/src/main.c
  client/src/parser.c
Due: build-client, test-client

Update client/src/main.c
  client/src/main.c
Due: build-client, test-client

Change structure
  client/include/main.h
  client/include/parser.h
  client/samples/test1.conf
  client/src/main.c
  client/src/parser.c
  serveur/samples/test1.conf
  serveur/samples/test2.conf
  serveur/samples/test3.conf
Due: build-client, build-serveur, test-client, test-serveur

Fix research
  client/samples/test1.conf
  client/src/main.c
  serveur/samples/test1.conf
  serveur/samples/test2.conf
  serveur/samples/test3.conf
Due: build-client, build-serveur, test-client, test-serveur

Documentation server
  serveur/include/main.h
  serveur/include/parser.h
  serveur/src/main.c
  serveur/src/parser.c
Due: build-serveur, test-serveur

Starting client documentation
  client/include/macro.h
  client/include/main.h
  client/include/parser.h
  client/src/main.c
  client/src/parser.c
  serveur/include/macro.h
  serveur/include/main.h
  serveur/src/main.c
Due: build-client, build-serveur, test-client, test-serveur

Starting fix
  client/include/main.h
  client/include/parser.h
  client/src/main.c
  client/src/parser.c
Due: build-client, test-client

test && fix conf format
  serveur/samples/bad.conf
  serveur/src/parser.c
  serveur/test/testSimple.sh
Due: build-serveur, test-serveur

more test && broutille
  serveur/samples/charge.conf
  serveur/samples/test1.conf
  serveur/src/main.c
  serveur/src/parser.c
  serveur/test/testSimple.sh
Due: build-serveur, test-serveur

fix ci serveur
  .gitlab-ci.yml
Due: none

fix ci netcat
  .gitlab-ci.yml
Due: none

add valgrind in ci
  .gitlab-ci.yml
Due: none

change image ci
  .gitlab-ci.yml
Due: none

add laddr & lreq + static tab_address
  client/include/addr.h
  client/include/macro.h
  client/include/main.h
  client/include/parser.h
  client/include/req.h
  client/src/addr.c
  client/src/main.c
  client/src/parser.c
  client/src/req.c
Due: build-client, test-client

Fix parser client: tab_addr len
  client/src/parser.c
Due: build-client, test-client

add ifndef servers header
  serveur/include/macro.h
  serveur/include/main.h
  serveur/include/parser.h
Due: build-serveur, test-serveur

fix servers headers ifndef
  serveur/include/main.h
  serveur/include/parser.h
Due: build-serveur, test-serveur

ça marche sans ignore
  client/include/main.h
  client/include/req.h
  client/samples/req.txt
  client/src/main.c
  client/src/req.c
Due: build-client, test-client

Change add -> add in queue
  client/src/addr.c
  client/src/req.c
Due: build-client, test-client

Little fix last commit
  client/src/addr.c
Due: build-client, test-client

fix add list
  client/src/addr.c
  client/src/req.c
Due: build-client, test-client

fix interactif
  client/src/main.c
Due: build-client, test-client

Implement timeout & check_timeout
  client/include/main.h
  client/src/main.c
  client/src/req.c
Due: build-client, test-client

Little change timeout function
  client/src/main.c
Due: build-client, test-client

Continuing timeout implementation
  client/include/main.h
  client/include/req.h
  client/src/main.c
  client/src/req.c
Due: build-client, test-client

Oops lreq_add
  client/src/main.c
Due: build-client, test-client

Fix timeout
  client/include/main.h
  client/src/main.c
Due: build-client, test-client

fix serveur thread
  serveur/include/macro.h
  serveur/include/main.h
  serveur/src/main.c
  serveur/test/testSimple.sh
Due: build-serveur, test-serveur

the end of the client sale
  client/include/req.h
  client/samples/req.txt
  client/src/addr.c
  client/src/main.c
  client/src/req.c
  serveur/samples/test1.conf
Due: build-client, build-serveur, test-client, test-serveur

Clean server parser
  client/include/addr.h
  client/include/chk.h
  client/include/main.h
  client/include/parser.h
  client/include/req.h
  client/src/main.c
  serveur/.vscode/launch.json
  serveur/include/main.h
  serveur/include/parser.h
  serveur/src/main.c
  serveur/src/parser.c
  serveur/tmp/res.txt
  serveur/tmp/wait.txt
Due: build-client, build-serveur, test-client, test-serveur

Little fix make_res
  serveur/src/parser.c
Due: build-serveur, test-serveur

Decompose make_res
  serveur/include/parser.h
  serveur/src/parser.c
Due: build-serveur, test-serveur

Starting implementation monitored addr
  client/include/addr.h
  client/include/main.h
  client/src/addr.c
  client/src/main.c
Due: build-client, test-client

fix test ubuntu
  serveur/test/testUbuntu.sh
Due: build-serveur, test-serveur

Path conditions:
  build-client: any of: client/**/*
  build-serveur: any of: serveur/**/*
  test-client: any of: client/**/*
  test-serveur: any of: serveur/**/*
